################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DocumentMerger/.vs/DocumentMerger
/DocumentMerger/obj
